node_modules
**/node_modules
**/.env
**/.env.local
**/dist
backend/history_db.json
backend/tests
backend/node_modules
frontend/node_modules
frontend/src/**/*.test.jsx
frontend/src/**/*.test.js
frontend/src/test
.github
.git
.gitignore
terminals
*.md
.vscode
.idea